.emitmodal {
  width: 800px;
  margin: 60px auto;
}

.emitmodal code {
  color: #5bc0de;
}

.handles ul {
  float: left;
  width: 33.333333%;
  margin: 0;
  padding: 0;
}

.handles li {
  display: block;
  margin-top: 60px;
  list-style: none;
  text-align: center;
}

.handles button {
  width: 200px;
  height: 34px;
  padding: 0;
  line-height: 34px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #337ab7;
  cursor: pointer;
}
