.emitmodal {
  width: 800px;
  margin: 60px auto;
}

.emitmodal code {
  color: #5bc0de;
}

.handles li {
  display: block;
  list-style: none;
}

.handles button {
  width: 200px;
  height: 34px;
  padding: 0;
  line-height: 34px;
  border: none;
  outline: none;
  color: #fff;
  background-color: #337ab7;
  cursor: pointer;
}
